.menuTrigger {
}

.menuWindow {
	// temp
	background-color: pink;

	position: absolute;
	top: 0;

	width: 90%;
	max-width: 40rem;
	height: 100%;

	.closeMenu {
		position: absolute;
		right: 0.5rem;
		top: 0.5rem;
	}

	.menuSection {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;

		.palette {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
